<div class="row">
	<div class="col-md-9">
		<div class="main-note">
			<div class="note-heading">
				<h3 class="heading">Notes</h3>
				<%= image_tag('notess.gif', height:' 30px', width: '30px')%>
			</div>
			<p class="note-common">
			  <strong class="body-note">What is on Your Mind ?</strong>
			  <p>&nbsp;<%= @note.body %></p>
			</p>

			<p class="note-common">
			  <strong class="body-note">Notes Created By:</strong>
			  &nbsp;<%= @note.user.name || @note.user.email %>
			</p>
			<p class="note-common show-tags">
			  <strong class="body-note">Tags</strong>
				<p class="tags"><%= raw @note.all_tags.split(',').map { |tag| link_to tag, tags_path(tags: tag), class: "tags-style" }.join(', ') %></p>
			</p>
			<div class="common-edit"><%= link_to 'Edit', edit_note_path(@note), class: "btn btn-primary link-style" %></div>		
			<div class="common-share "><%= link_to 'Share', permission_path(note_id: @note.id), class: "btn btn-warning link-style"%></div>	
		</div>
	</div>
</div>
<div class="row">
  <div class="col-md-9">
    <%= form_for @comment, url: '#' do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <%= f.submit "Post Comments", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="comments" data-note-id="<%= @note.id %>">
  <%= render @note.comments %>
</div>
