<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-9">
		<div class="main-note">
			<div class="note-heading">
				<h3 class="heading">Notes</h3>
				<%= image_tag('notess.gif', height:' 30px', width: '30px')%>
			</div>
			<p class="note-common">
			  <strong class="body-note">What is on Your Mind ?:</strong>
			  &nbsp;<%= @note.body %>
			</p>

			<p class="note-common">
			  <strong class="body-note">User:</strong>
			  &nbsp;<%= @note.user.name || @note.user.email %>
			</p>
			<div class="common-edit"><%= link_to 'Edit', edit_note_path(@note), class: "btn btn-primary link-style" %></div>		
			<div class="common-share "><%= link_to 'Share', permission_path(note_id: @note.id), class: "btn btn-warning link-style"%></div>	
		</div>
	</div>
</div>
